.exercise {
  position: relative;
  width: 270px;
  background: linear-gradient(135deg, white, rgb(92, 92, 92));
  border-radius: 5px;
  padding: 4vw 2vw 2vw 2vw;
  margin-right: 30px;
}

.exercise > * {
  margin-bottom: 1vw;
}

.exercise-options {
  position: absolute;
  display: flex;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}

.add-set {
  margin-left: 5.5vw;
}
