.exercise {
  position: relative;
  min-width: 300px;
  background: linear-gradient(135deg, white, rgb(92, 92, 92));
  border-radius: 5px;
  padding: 4vw 2vw 2vw 2vw;
  margin: 0 10% 1vw 0;
}

.exercise > * {
  margin-bottom: 1vw;
}

.exercise-options {
  position: absolute;
  display: flex;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}

.exercise-stats--set {
  display: flex;
  /* justify-content: space-between; */
}

.exercise-stat {
  margin-right: 2%;
}

.exercise-stats--weight {
  display: flex;
}
.exercise-stats--weight label {
  margin-right: 1vw;
}

.exercise-stats-weight .exercise-stat-weight input {
  font-size: 1.5rem;
}

.exercise-stats--set input,
.exercise-stats--name input {
  background: none;
  border: none;
}

.exercise-stats--set input:focus {
  background: white;
  border: auto;
}

.delete-set {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  filter: saturate(0%) brightness(100%) contrast(1000%);
}
.delete-set:active {
  filter: none;
}

.add-set {
  margin-left: 5.5vw;
}
