.exercise {
  position: relative;
  max-width: 400px;
  background: linear-gradient(135deg, white, rgb(92, 92, 92));
  border-radius: 5px;
  padding: 4vw 2vw 2vw 2vw;
  margin-bottom: 1vw;
}

.exercise > * {
  margin-bottom: 1vw;
}

.exercise-options {
  position: absolute;
  display: flex;
  top: 1vw;
  right: 1vw;
  z-index: 2;
  cursor: pointer;
  /* float: right; */
}

.exercise-stat input {
  background: none;
  border: none;
}

.exercise-stat input:focus {
  background: white;
  border: auto;
}

.set-expanded > * {
  margin-left: 1vw;
}
