.exercise {
  cursor: pointer;
  max-width: 300px;
  background: linear-gradient(135deg, white, rgb(92, 92, 92));
  border-radius: 5px;
  padding: 2vw;
  margin-bottom: 1vw;
}

.exercise-option {
  z-index: 2;
  cursor: pointer;
  float: right;
}
