.exercise {
  cursor: pointer;
  max-width: 300px;
  background: linear-gradient(135deg, white, rgb(92, 92, 92));
  border-radius: 5px;
  padding: 2vw;
  margin-bottom: 1vw;
}

.exercise-option {
  z-index: 2;
  cursor: pointer;
  float: right;
}

.rep-expanded {
  width: 100%;
  display: flex;
  font-size: 0.8rem;
}

.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  margin-right: 2%;
}
