section {
  position: relative;
  width: 90vw;
  padding: 5vw;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

section::before,
section::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 1%;
  box-shadow: 0px 0px 10px 10px grey;
  z-index: 2;
}
section:before {
  top: 0;
  bottom: 0;
  left: 0;
}
section:after {
  top: 0;
  bottom: 0;
  right: 0;
}

.exercises-container {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s;
}

.slide-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90vw;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.slide-btn {
  width: 10%;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition: width 0.3s;
}

.slide-btn img {
  width: 40px;
  transition: all 0.3s;
}

.slide-btn:hover {
  width: 11%;
}
.slide-btn:hover img {
  filter: invert(100%) brightness(1000%);
}

.slide-left {
  left: 0;
}
.slide-right {
  right: 0;
}

.slide-right img {
  transform: rotate(0.5turn);
}
