.app {
  position: relative;
  width: 100%;
  padding: 5vw;
}
.app > * {
  margin-bottom: 3vh;
}

.linear-gradient-layer {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

section {
  position: relative;
  width: 90vw;
  padding: 5vw 8vw;
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
}

section::before,
section::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 7%;
  box-shadow: 0px 0px 10px 10px grey;
  z-index: 2;
}
section:before {
  top: 0;
  bottom: 0;
  left: 0;
}
section:after {
  top: 0;
  bottom: 0;
  right: 0;
}

.btn-transparent {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
