.exercise {
  position: relative;
  min-width: 40%;
  background: linear-gradient(135deg, white, rgb(92, 92, 92));
  border-radius: 5px;
  padding: 4vw 2vw 2vw 2vw;
  margin: 0 10% 1vw 0;
}

.exercise > * {
  margin-bottom: 1vw;
}

.exercise-options {
  position: absolute;
  display: flex;
  top: 1vw;
  right: 1vw;
  cursor: pointer;
}

.exercise-stat-set-num,
.exercise-stat-weight,
.exercise-stat-weight > * {
  display: inline;
}

.exercise-stat-weight input {
  font-size: 1rem;
}

.exercise-stat input {
  background: none;
  border: none;
}

.exercise-stat input:focus {
  background: white;
  border: auto;
}

.set-expanded > * {
  margin-right: 1vw;
}


