.rep-expanded {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-left: 1vw;
}

.rep-expanded > span {
  margin-right: 1vw;
}

.rep-expanded .gauge {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.gauge .circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: 12px;
}
.circle:hover {
  background-color: green;
}
.circle:hover ~ .circle {
  background-color: green;
  z-index: 1;
}

.add-delete-rep {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  margin-right: 1vw;
}
.add-delete-rep:active {
  filter: invert(23%) sepia(91%) saturate(6463%) hue-rotate(356deg)
    brightness(93%) contrast(117%);
}

.rep-expanded:hover .add-delete-rep {
  visibility: visible;
  opacity: 1;
}
