.routine > * {
  margin: 0 2vw 2vw 0;
}

.exercises-container {
  display: flex;
  flex-direction: row;
  transition: transform 0.3s;
}
.archive > * {
  opacity: 0.5;
  pointer-events: none;
}

.slide-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90vw;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.slide-btn {
  width: 10%;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition: width 0.3s;
}

.slide-btn img {
  width: 40px;
  transition: all 0.3s;
}

.slide-btn:hover {
  width: 11%;
}
.slide-btn:hover img {
  filter: invert(100%) brightness(1000%);
}

.slide-left {
  left: 0;
}
.slide-right {
  right: 0;
}

.slide-right img {
  transform: rotate(0.5turn);
}
